<footer class="site-footer">
    <div class="container footer__grid">
      <div class="footer__col">
        <div class="footer__brand">
            <img
              src="assets/logo.jpg"
              alt="HappINess e. V. Logo"
              class="footer__logo"
            />
          </div>
        <p class="footer__text">
          HappINess e. V. <br>
          Kulturen verbinden<br>
          Vielfalt fördern.
        </p>
      </div>
  
      <div class="footer__col">
        <h3>Kontakt</h3>
        <p class="footer__text">
          HappINess e. V.<br>
          Münzbergstr. 8<br>
          85049 Ingolstadt
        </p>

        <p class="footer__text">
          Telefon: 0841 95169774<br>
          Mobil: +49 178 1126044<br>
          E-Mail: <a href="mailto:info@happiness-ev.com">info@happiness-ev.com</a>
        </p>
      </div>
  
      <div class="footer__col">
        <h3>Offene Stellen</h3>
        <ul class="footer__list">
          <li>
            <a href="Karriere.html#offene-stellen">
              Sozialpädagog:in oder Pädagog:in (m/w/d)
            </a>
          </li>
          <li>
            <a href="Karriere.html#offene-stellen">
              Staatlich anerkannte:r Erzieher:in (m/w/d)
            </a>
          </li>
          <li>
            <a href="Karriere.html#offene-stellen">
              Heilpädagog:in (m/w/d)
            </a>
          </li>
          <li>
            <a href="Karriere.html#offene-stellen">
              Psycholog:in (m/w/d)
            </a>
          </li>
          <li>
            <a href="Karriere.html#nachhilfelehrer">
              Nachhilfelehrer:in (m/w/d)
            </a>
          </li>
        </ul>
      </div>
      
  
      <div class="footer__col">
        <h3>Newsletter</h3>
        <p class="footer__text">
          Updates zu neuen Spendenkampagnen & Projekten.
        </p>
  
        <!-- Action später mit Brevo/Mailchimp ersetzen -->
        <form class="newsletter" action="#" method="post">
          <label class="sr-only" for="nl-email">E-Mail</label>
          <input id="nl-email" name="email" type="email" placeholder="dein@email.de" required />
          <button type="submit">Anmelden</button>
        </form>
  
        <p class="footer__fine">
          Mit der Anmeldung stimmst du zu, E-Mails zu erhalten. Abmeldung jederzeit möglich.
        </p>
      </div>
    </div>
  
    <div class="container footer__bottom">
      <p>© <span id="year"></span> HappINess e. V.</p>
      <div class="footer__links">
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutzerklärung</a>
        <a href="assets/satzung-happiness-ev.pdf" target="_blank" rel="noopener">
          Satzung
        </a>        
      </div>
    </div>
  </footer>
  